html, body{
    width: 100%;
    height: 100%;
}
body{
    margin: 0;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Oswald', sans-serif;
}
p{
    font-family: 'Open Sans', sans-serif;
}

.color-fondo{
    background-color: #660066;
}
.logo{
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 2em;
    transition: all 0.2s ease-in;
}
.logo:hover{
    opacity: 0.4;
    color: grey;
}
.main{
    background-image: url(../img/bg-main.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    display: flex;
    align-items: flex-end;
}
.main h1{
    font-size: 6em;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
}
.main h2{
    font-size: 6em;
    color: white;
    font-weight: 400;
}
.sobremi{
    padding: 5% 0 0 0;
}

a.colors{
    background-image: url(../img/bg-link.jpg);
    background-size: cover;
    color: white;
    padding: 15px 60px;
    display: inline-block;
    font-size: 0.8em;
    border-radius: 50px; 
    font-weight: 600;
    text-transform: uppercase;
}

.sobremi h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 2em;
    color: #373A3C;
}

.sobremi p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1em;
    line-height: 2.5em;
    color: #373A3C;
}

.line{
    width: 20%;
    max-width: 150px;
    min-width: 150px;
    height: 2px;
    background: #373A3C;
    margin: 5% auto;
}
.experiencia{
    padding: 5% 0 0 0;
}
.experiencia h1{
    text-transform: uppercase;
    font-size: 4em;
    font-weight: 700;
}
.exp{
    margin-bottom: 20px;
}
.exp h1{
    font-size: 1.6em;
    text-transform: inherit;
    font-weight: 700;
}
.exp h2{
    font-family: 'Open Sans', sans-serif;
    text-transform: inherit;
    font-weight: 300;
    font-size: 1.2em;
}
.exp p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 0.8em;
}
.trabajos{
    padding: 5% 0;
}
.trabajos h1{
    color: #ffffff;
    text-transform: uppercase;
    font-size: 4em;
}
.trabajos .line{
    background-color: #ffffff;
}

.cont-trabajos{
    margin-bottom: 30px;
    transition: all 0.2s ease-in;
}
.cont-trabajos a{
    text-decoration: none;
    color: inherit;
}
.cont-trabajos:hover{
    transform: scale(1.05);
}
.cont-trabajos h5{
    font-weight: 400;
    font-size: 1.8em;
}
.cont-trabajos p{
    font-weight: 300;
    font-size: 1em;
}
.carousel-logos{
    background: #ececec;
    padding: 5% 0;
}
.carousel-logos h1{
    font-weight: 600;
}
.carousel-item img{
    max-width: 100%;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all 0.2s ease-in;
}
.carousel-item img:hover{
    filter: inherit;
}
.carousel-indicators {
    bottom: -40%;
}
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #373a3C;
}
.contacto{
    padding: 5% 0;
}
.contacto h1{
    text-transform: uppercase;
    font-size: 4em;
    font-weight: 700;
}
footer{
    padding: 3% 0;
}
footer a{
    font-size: 3em;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}
.icon-nav{
    text-align: right;
}

.intern{
    padding: 8% 0;
}
.intern h1{
    font-weight: 600;
}
.intern p{
    font-weight: 400;
    font-size: 0.9em;
    line-height: 2em;
    margin: 5% 0;
}

.intern figure{
    overflow: hidden;
    max-height: 500px;
    position: relative;
}
.intern figure:before{
    content: 'Posicionate encima de la imagen para explorar';
    position: absolute;
    color: #fff;
    right: 10px;
    top: 10px;
    font-size: 0.8em;
    font-weight: 400;
}
.intern figure img{
   width: 100%;
    transition: all 3s ease-in;
}
.intern img:hover{
   margin-top: -300%;
}
.intern figcaption{
    font-size: 0.7em;
    font-weight: 600;
    color: grey;
}

@media only screen and (max-width: 770px) {
    .main{
        background-position: center;
    }
    .main h1, .main h2{
        font-size: 3em;
    }
    .row div{
        text-align: center;
    }
    .icon-nav{
        margin: 5% 0; 
        text-align: center;
}
}
